global
    daemon
    maxconn 4096
    log stdout local0

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog
    option forwardfor

frontend killer_frontend
    bind *:8444
    mode http
    default_backend killer_backend

backend killer_backend
    mode http
    balance roundrobin
    option httpchk GET /killer/api/dragon/find-by-cave-depth/max
    http-check expect status 200
    
    server killer_instance1 localhost:8080 check
    server killer_instance2 localhost:8081 check
